- id = "note_#{@note.id}"
- if params[:cancel] == "true"
  $('##{id}').replaceWith('#{ escape_javascript haml :"device_notes/note", locals: { note: @note } }');
- else
  $('##{id}').html('#{ escape_javascript haml :"device_notes/edit", locals: { note: @note } }');
