= haml :"layouts/panel_models"
%ul.nav.nav-tabs
  %li.active
    %a{:href => url("device_models", false)}= t(:list)
  %li
    %a{:href => url("device_models/new", false)}= t(:new)
.tabs-content
  %table.table
    %thead
      %tr
        %th= t(:type)
        %th= t(:manufacturer)
        %th= t(:name)
        %th.text-center= t(:disabled)
        %th.row-action-header
    %tbody#device_models
      - @device_models.all.each do |device_model|
        = haml :"device_models/device_model", :locals => { device_model: device_model }
.text-center
  %ul.pagination#paginate
    = haml :"shared/paginate", :locals => {collection: @device_models, href: lambda{|p| url("/device_models?#{build_query(p)}", false)} }
:javascript
  var searchTimeout;
  $('#query').on('keydown', function(event) {
    $el = $(event.target)
    if (searchTimeout) clearTimeout(searchTimeout);
    searchTimeout = setTimeout(function () { 
        $.get('/device_models', {
        query: $el.val()
      });
    }, 500);
  });