- haml :"layouts/panel_models"
%ul.nav.nav-tabs
  %li
    %a{:href => url("contracts", false)}= t(:list)
  %li
    %a{:href => url("contracts/new", false)}= t(:new)
  %li.active
    %a{:href => url("contracts/edit/#{@contract.id}", false)}= t(:edit)
.tabs-content
  %form{ :action => url("contracts/update/#{@contract.id}", false), :method => :post }
    %input{:name => "_method", :type => "hidden", :value => "put"}
    = haml :"contracts/form"