- haml :"layouts/panel_models"
%ul.nav.nav-tabs
  %li
    %a{:href => url("cartridge_types", false)}= t(:list)
  %li
    %a{:href => url("cartridge_types/new", false)}= t(:new)
  %li.active
    %a{:href => url("cartridge_types/edit/#{@cartridge_type.id}", false)}= t(:edit)
.tabs-content
  %form{ :action => url("cartridge_types/update/#{@cartridge_type.id}", false), :method => 'post' }
    %input{:name => "_method", :type => "hidden", :value => "put"}
    = haml :"cartridge_types/form"